{% extends 'base.html' %}
 {% block title %}Sign In{% endblock %}
{% load static %}

<link rel="stylesheet" href="{% static 'Moffet_bay/css/style.css' %}">
{% block content %}
<style>
  footer {
      position: absolute;
      bottom: 0;
      width: 100%;
  }
</style>
<body>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis ">
          Moffat Bay
        </h1>
        <p class="col-md-10 fs-4">Sign in to your account to make a reservation, check reward balances,
          and view past or future stays with us.
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form
          method="post"
          class="p-4 p-md-5 border rounded-3 bg-body-tertiary"
        >
          {% csrf_token %}
          <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label"
              >Username</label
            >
            {{ form.username }}
          </div>
          <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label"
              >Password</label
            >
            {{ form.password }}
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-lg btn-primary w-100">
            Sign In
          </button>
          <hr class="my-4" />
          <small class="text-body-secondary"
            >By clicking Sign up, you agree to the terms of use.</small
          >
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
